# STM32CubeIDE workspace metadata
.metadata/

# Compiled build outputs inside Debug/
TTT_Controller/Debug/**/*.elf
TTT_Controller/Debug/**/*.bin
TTT_Controller/Debug/**/*.map
TTT_Controller/Debug/**/*.list
TTT_Controller/Debug/**/*.o
TTT_Controller/Debug/**/*.d
TTT_Controller/Debug/**/*.su
TTT_Controller/Debug/**/*.cyclo
TTT_Controller/Debug/objects.list
TTT_Controller/Debug/objects.mk
TTT_Controller/Debug/sources.mk
